<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>COG WebGL Template</title>
	<link rel="stylesheet" type="text/css" href="../../css/webGL.css">
	
	<script type="text/javascript" src="../../util/glMatrix.js"></script>
	<script type="text/javascript" src="../../util/matrices.js"></script>
	<script type="text/javascript" src="../../util/shader.js"></script>
	
	<script type="text/javascript" src="../../scene/nodes.js"></script>
	<script type="text/javascript" src="../../scene/scene.js"></script>
	
	<script type="text/javascript" src="template.js"></script>
</head>

<body onload="startScene();">

	<h1 style="text-align:center">COG WebGL Template</h1>
	<div class="canvas">
		<canvas id="canvas"></canvas>
	</div>
	<div id="debug"></div>
	

<script id="shader-vs" type="x-shader/x-vertex"> 
	attribute vec3 aVertexPosition;
 
	uniform mat4 uMVMatrix;
	uniform mat4 uPMatrix;
 
	void main(void) {
    	gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
  	}
</script> 
	
<script id="shader-fs" type="x-shader/x-fragment">
   	#ifdef GL_ES
    	precision highp float;
    #endif
    void main(void) {
        gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
    }
</script>

</body>
</html>